{% extends "base.html" %}

{% block content %}
<nav class="navbar1">
    <h1>アイディアメモ</h1>
    <div class="home">
        <a href="/logout" role="button" class="logout">ログアウト</a>
    </div>
</nav>
<div class="content">

    <div class="app">
    {% if groups %}
    <ul>
            {% for group in groups %}
                <li class="group-list"><a href="/group/{{ group.id }}">{{ group.name }}</a></li>
            {% endfor %}
    </ul>
    {% else %}
    <p>まだグループに所属していません。</p>
    {% endif %}
    <div class="app-creation">
        <a href="/create_group"><img src="{{ url_for('static', filename='creation_img.png') }}" alt="" width="20px" height="20px"></a>
        <a href="/create_group" type="button" class="creation" class="group-creation">グループを作成</a>
        </div>
    </div>

    <div class="item-p">
    </div>
    <div class="board">
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}

    
