{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block headline %}

{% endblock %}

{% block content %}
<h1>Login</h1>
<p>〇〇へようこそ</p>
<form method="POST" action="/login">
    <div class="form-group">
        <label for="username">ユーザー名:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter name" required>
    </div>

    <div class="form-group">
        <label for="password">パスワード:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
    </div>
    {% if error_message %}
    <div style="color: red;">{{ error_message }}</div>
    {% endif %}

    <button type="submit" class="btn btn-primary btn-block">ログイン</button>
    <a href="/signup" role="button">ユーザー登録がまだな方はこちら</a>
</form>


{% endblock %}

{% block footer %}
T-26-ATM
{% endblock %}