{% extends "base.html" %}

{% block content %}
<h1>ユーザー登録</h1>
<form method="POST" action="/signup">
    <label for="email">メールアドレス:</label>
    <input type="email" name="email" required>

    <label for="username">ユーザー名:</label>
    <input type="text" name="username" required>

    <label for="password">パスワード:</label>
    <input type="password" name="password" required>

    {% if error_message %}
    <div style="color: red;">{{ error_message }}</div>
    {% endif %}

    <button type="submit">サインアップ</button>
    <a href="/login" role="button">すでに登録してある方はこちら</a>
</form>
{% endblock %}