<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IdiaMemo</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <script src="/static/script.js"></script>
</head>
<body>
    <nav class="navbar">
        <h1>アイディアメモ</h1>
    </nav>
    <div class="content">
        <div class="app">
        </div>
        <div class="item">
            <button id="addItemBtn">項目を追加</button>
            <div id="itemContainer"></div>
            <script src="script.js"></script>
        </div>
        <div class="board">
            <div id="title-container">
                <h1 id="page-title">ここにタイトルが表示されます</h1>
            </div>
            <button id="insert-title-button">タイトル挿入</button>
            <p id="boardContent">ここに項目の内容が表示されます。</p>
            <script src="script.js"></script>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>